@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Source+Sans+Pro&display=swap');

h1 {
    color: red;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: rgb(245, 245, 245);
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
}

.container {
    padding: 0px 100px 100px 100px;
}

#monthTags {
    display: flex;
    flex-direction: row;
}

#timeLineWrapper {
    overflow-x: scroll;
    height: 400px;
    width: 100%;
}

#timeLine {
    width: 100%;
    position: relative;
}

#pin {
    cursor: move;
    position: relative;
    width: 50px;
    height: auto;
}

#info-wrapper {
    border-left: 2px solid black;
    font-size: 20px;
    padding: 50px;
    height: 500px;

    display: flex;
    flex-direction: row;
}

#week-img {
    height: 400px;
}

#info {
    height: 100%;
    margin-left: 50px;
    overflow-y: scroll;
}

.weekCircle:hover {
    fill: #a55;
}
