#superwraper {
    // height: 500px;
    // position: relative;

    #chartWrapper {
        width: 600px;
        overflow-x: scroll;
        // position: relative;
    }
}
canvas {
    position: absolute;
}
